.wrapper-authForm {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    padding: 2rem;
    max-width: 350px;
    background-color: #ffffff;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .wrapper-authForm{
        height: 100%;
        padding: 0;
        box-shadow: none;
        background: inherit;
        max-width: none;
    }
    .form-header{
        padding-bottom: 8px;
        border-bottom: 1px solid #bbbbbb;
    }
}